@use "@assets/variables.scss" as *;

body {
  font-family: "Roboto", serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100%;

  .gold {
    color: $gold;
  }
  
  .pink {
    color: $pink;
  }
  
  .orange {
    color: $orange;
  }

  .purple {
    color: $purple;
  }

  .blue {
    color: $blue;
  }

  .green {
    color: $green;
  }

  .gray {
    color: $gray;
  }
}