$light: 200;
$normal: 400;
$heavy: 500;

$alto: #afafaf;

$gray: #CCC;
$green: #0F8000;
$blue: #0070FF;
$purple: #A335EE;
$orange: #FF8000;
$pink: #E268A8;
$gold: #E5CC80;

$wipe: #E68066;
$clear: #80E666;