@use "@assets/mixins.scss" as *;

.party-list-container {
    .party-list-content {
        display: flex;
        flex-direction: column;
        gap: pxToRem(8);

        .party-member-container {
            display: flex;

            .role-container {
                display: grid;
                grid-template-columns: 3fr 1fr;

                .role-content {
                    display: flex;
                    align-items: center;
                    gap: pxToRem(8);
                }
            }

            .party-members-content {
                display: flex;
                gap: pxToRem(8);
            }
        }
    }
    
}