@use "@assets/mixins.scss" as *;

.header-container {
    .group-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .group {
            .logo-and-title {
                display: flex;
                align-items: center;
                gap: pxToRem(8);
                text-decoration: none;
                color: white;
            
                .title {
                    font-size: pxToRem(24);
                }
            }
        }
    }
}

