<!-- Entry point for development -->
<environment include="Development"> 
     <script type="module" src="http://localhost:5173/@@vite/client"></script> 
     <script type="module" src="http://localhost:5173/main.ts"></script> 
</environment>


<div id="app"></div>